<div class="navbar">
  <div class="logo"><img src="C:\Notepad++\SIN Education\SIN-Logo-removebg.svg" alt="Logo"></div>
  <ul class="nav-links">
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact Us</a></li>
  </ul>
</div>

<div class="container">
  <div id="title-container">
    <p><u>Science - Class 6</u></p>
  </div>
</div>

<div class="container">
  <div id="chapter-buttons">
    <!-- Chapter buttons will be dynamically inserted here -->
  </div>
  <div id="quiz-container">
    <div id="chapter-name">
      <!-- Chapter name will be dynamically inserted here -->
    </div>
    <!-- Quiz questions will be dynamically inserted here -->
  </div>
  <div id="ad-container">
    <img src="C:\Notepad++\SIN Blogs\Freebees_webdesign_9\img\bookstack.svg" height="400" alt="Logo">
    <img src="C:\Notepad++\SIN Education\SIN-Logo-removebg.svg" alt="Logo">
    <!-- Advertisement images will be dynamically inserted here -->
  </div>

</div>

<footer class="footer">
  <p>&copy; 2024 SIN-Education. All Rights Reserved</p>
  <a href="https://www.instagram.com" target="_blank" class="instagram-link">
    <i class="fab fa-instagram"></i>
  </a>
</footer>

<router-outlet />