/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #000;
    color: #fff;
}

.logo img {
    max-width: 100px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #bbb;
}

#title-container{
	max-width: 600px;
    margin: 0 auto;
	text-align: center;
	font-weight: bold;
    border: 1px solid #000;
    padding: 1em;
    border-radius: 8px;
}

.container {
    margin: 0 auto;
    padding: 2em;
    display: flex;
    justify-content: center; /* Center the content horizontally */
}

#chapter-buttons {
    flex: 1;
    margin-right: 1em;
}

#chapter-buttons button {
    display: block;
    width: 100%; /* Adjusted width */
    margin-bottom: 2em;
    padding: 0.4em;
    background-color: #000;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    font-size: 1.5em; /* Decreased size */
}

#chapter-buttons button:hover {
    background-color: #555;
}

#ad-container {
    flex: 1;
    margin-right: 2em;
    /* Add styles for the advertisement container */
}

#ad-container img {
    width: 100%;
    margin-bottom: 1em;
}

#quiz-container {
    flex: 3;
    max-width: 600px;
    border: 1px solid #000;
    padding: 1em;
    border-radius: 8px;
    background-color: #f4f4f4;
    text-align: center; /* Center the content inside the container */
}

#chapter-name {
    margin-bottom: 1em;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.question-block {
    margin-bottom: 1em;
    text-align: left; /* Align questions to the left */
}

#quiz-container .question {
    font-size: 1em;
    margin-bottom: 0.5em;

}

#quiz-container .options button {
    display: block;
    width: 100%;
    margin: 0.3em 0;
    padding: 0.8em;
    background-color: #fff;
    border: 1px solid #fff; /* Added border */
    color: #000;
    cursor: pointer;
    border-radius: 4px;
    text-align: left;
    font-size: 0.9em;
}

#quiz-container .options button.correct {
    background-color: #000;
    color: #fff;
}

#quiz-container .options button.incorrect {
    background-color: #f44336;
    color: #fff;
}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
}

#prev-button, #next-button {
    padding: 0.8em 1.5em;
    background-color: #000;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    font-size: 0.9em;
}

#prev-button:hover, #next-button:hover {
    background-color: #555;
}

.pagination {
    text-align: center;
    margin-top: 1em;
}

.pagination span {
    margin: 0 0.3em;
    padding: 0.5em 1em;
    background-color: #000;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}

.pagination span.active {
    background-color: #555;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #000;
    color: #fff;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.footer p {
    margin: 0;
    font-size: 0.8rem;
}

.footer .instagram-link {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.3s;
}

.footer .instagram-link:hover {
    color: #bbb;
}

.view-answer-button {
    background-color: #000; /* Changed to black */
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 0.5em;
    font-size: 0.9em;
}

.view-answer-button:hover {
    background-color: #555;
}
